* {
    color: white;
}

body {
    background-color: black;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    color: white;
}

h1 {
    font-family: 'Luckiest guy', cursive;
    font-size: 100px;
    text-align: center;
}

p {
    font-family: 'Cinzel', serif;
}

.copyright {
    text-align: center;
    margin-top: 500px;
}

div.contrast-box {
    background: rgba(0, 0, 0, 0.7);
}