* {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Luckiest guy', cursive;
    font-size: 100px;
    text-align: center;
}

p {
    font-family: 'Cinzel', serif;
}

.instructions {
    font-size: 30px;
    text-align: center;    
}

.game {
    float: left;
    margin-left: 20%;
    margin-top: 225px;
}

.image {
    float: right;
    height: 200px;
    margin-right: 20%;
    margin-top: 165px;
}

.copyright {
    clear: both;
    text-align: center;
    margin-top: 500px;
}